{% extends "base.html" %}
{% load static %}
{% block title %}
<title>404 - Searcher </title>
{% endblock %}
{% block nav %}
<a class="nav-link active" href="/">Home</a>
<a class="nav-link" href="/appSearch">App Searcher</a>
<a class="nav-link" href="/keyword">Keyword Finder</a>
{% endblock %}
{% block content %}
<main role="main" class="inner cover mastfoot mt-auto pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="text-align:center !important;">
    <h1 class="cover-heading" style="margin-bottom:5%;"><b>404</b></h1>
    <p class="lead"><b>We could not find the requested page at this moment.</b></p>
    <p class="lead">
        <a href="/" class="btn btn-lg btn-secondary">Home Page</a>
    </p>
</main>
{% endblock %}